<div class="title-countries"><img src="{{flags.svg}}" alt="Flag{{name.official}}"><h2>{{name.official}}</h2></div>
<p><span>Capital:</span>{{capital }}</p>
<p><span>Population:</span>{{population}}</p>
<p><span>Languages:</span>{{languages}}</p>
